# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3

# macOS-specific files
.DS_Store
.AppleDouble
.LSOverride

# Virtual environment
venv/
env/
myenv/

# Django-related files
*.log
*.pot
*.py[cod]
db.sqlite3
/media/
/staticfiles/

# Environment variables
.env

# IDEs/Editors
.idea/
.vscode/
*.swp
*.swo
*.swn

# Testing
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
test-results/

# Migrations
# **/migrations/*.py
!**/migrations/__init__.py

# Python Byte-compiled
*.py[cod]

# Build files
build/
dist/
*.egg-info/
.eggs/

# Logs
logs/
*.log

# Local configs
*.local
